name = "quartz-faas"
main = "build/worker/shim.mjs"
compatibility_date = "2024-01-01"
workers_dev = true

[build]
command = "cargo install -q worker-build && worker-build --release"

[build.upload]
format = "modules"
dir = "build/worker"
main = "./shim.mjs"

[[build.upload.rules]]
globs = ["**/*.wasm"]
type = "CompiledWasm"

[env.production]
name = "quartz-faas-prod"
workers_dev = false
